.a1
{
    height: 500px;
    width: 90%;
    background-color: mistyrose;
}
.b1
{
    height: 500px;
    width: 70%;
    background-color: rgb(214, 208, 208);
}
.c2
{
    font-size: 25px;
    color: indianred;
    background-color:linen;
}